/* ELEMENT */
body {
    background-color: rgb(48, 48, 48);
    font-family: 'Roboto';
}

code {
    display: block;
    margin: 25px 50px;
    font-size: 18px;
    background-color: #e7e7e7;
    padding: 25px;
    border-left: blue 5px solid;
}


/* CLASS */
.header {
    background-color: #F1C40F;
    height: 50px;
    text-align: right;
}


.header li {
    display: inline-block;
}

.header ul {
    margin-right: 75px;
}

.header a {
    display: inline-block;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.header a:hover {
    background-color: black;
    color: #F1C40F;
}

.principal-section {
    background-color: white;
    height: fit-content;
    width: 90%;
    border-radius: 20px;
    margin: 50px auto;
    padding-bottom: 50px;
}

.principal-content {
    display: inline-block;
    margin: 25px 50px 0px 50px;
    text-align: justify;
    font-size: 20px;
}

.principal-h1 {
    text-align: center;
    padding-top: 25px;
    font-size: 50px;
}

.principal-image {
    display: block;
    margin: 10px auto;
    width: 250px;
    border-radius: 50%;
}

.icon-images-html-css-js {
    margin: 25px 0 0 50px;
}

.table-lessons {
    margin-left: 50px;
    border-spacing: 10px;
}

.table-lessons a {
    text-decoration: none;
    color: blue;
}

.lesson-image {
    display: block;
    padding-top: 25px;
    margin: 10px auto;
}

.lesson-h1 {
    text-align: center;
    margin: 0 auto 25px auto;
}

