/* ELEMENTS */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #323233;
}



/* IDS */



/* CLASS */
.index-header {
    background-color: #25B7D3;
    height: 50px;
    width: 100%;
    font-size: 25px;
    color: white;
    text-align: right;
    line-height: 50px;
    box-sizing: border-box;
    padding-right: 65px;
}

.index-header-span {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: 550;
}

.index-header-span:hover {
    background-color: white;
    color: #187e92;
    cursor: pointer;
}

.index-section-01 {
    background-color: white;
    width: 90%;
    height: 40%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 20px;
    padding: 10px;
}


.index-section-01-div-img-pc {
    width: 30%;
    margin: 50px;
}

.index-section-01-content {
    display: inline-block;
    width: 58%;
    vertical-align: top;
    margin-top: 5%;
    text-align: justify;
    font-size: 17px;
}

.js {
    width: 90px;
    margin-bottom: 2px;
}

.index-section-01-img:hover {
    border-radius: 50%;
    box-shadow: 2px 2px gray;
}

.index-section-01-content-msevero {
    color: blue;
    text-decoration: none;
}

.white-page {
    background-color: white;
    margin: 50px;
    border-radius: 20px;
    padding: 50px;
    text-align: justify;
}

.conteudo-principal {
    display: inline-block;
}

.list-of-lessons {
    background-color: white;
    margin: 50px auto;
    width: 91%;
    height: 500px;
    border-radius: 20px;
}

.list-of-lessons-h1 {
    text-align: center;
    margin-bottom: 25px;
}

.list-of-lessons-img {
    display: block;
    padding: 20px 0 0 0;
    margin: 0 auto;
}

.list-of-list {
    display: inline;
    text-align: left;
}

.list-of-lessons-table {
    margin-left: 50px;
    border-spacing: 10px;
}

.list-of-lessons-a {
    text-decoration: none;
    color: blue;
}

.list-of-lessons-p {
    margin: 20px 50px;
    text-align: justify;
}